{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <form class="form" method="post" action="/venues/{{ venue.id }}/update">
            <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('routes.venues') }}"
                                                                             title="Back to homepage"><i
                    class="fa fa-home pull-right"></i></a></h3>
            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control', autofocus = true, value = venue.name) }}
            </div>
            <div class="form-group">
                <label>City</label>
                <div class="form-group">
                    <select name="city_id" id="city_id" class="form-control select2">
                        {% for city in data.cities %}
                            <option value="{{ city.id }}" {{ 'selected' if city.id == venue.city_id }}>
                                {{ city.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                {{ form.address(class_ = 'form-control',  value = venue.address) }}
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx',  value = venue.phone) }}
            </div>
            <div class="form-group">
                <label for="genres">Genres</label>
                <small>Ctrl+Click to select multiple</small>
                <select name="genres" id="genres" class="form-control select2" multiple>
                    {% for genre in data.genres %}
                        <option value="{{ genre.id }}" {{ 'selected' if genre.id in data.selected_genres else '' }}>
                            {{ genre.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="facebook_link">Facebook Link</label>
                {{ form.facebook_link(class_ = 'form-control', placeholder='http://',  value = venue.facebook_link) }}
            </div>

            <div class="form-group">
                <label for="image_link">Image Link</label>
                {{ form.image_link(class_ = 'form-control', placeholder='http://',  value = venue.image_link) }}
            </div>

            <div class="form-group">
                <label for="website">Website Link</label>
                {{ form.website(class_ = 'form-control', placeholder='http://',  value = venue.website) }}
            </div>

            <div class="form-group">
                <label for="is_seeking_talent">Looking for Talent</label>
                {{ form.is_seeking_talent(placeholder='Venue',  checked = venue.is_seeking_talent  ) }}
            </div>

            <div class="form-group">
                <label for="seeking_description">Seeking Description</label>
                {{ form.seeking_description(class_ = 'form-control',  value = venue.seeking_description) }}
            </div>

            <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
        </form>
    </div>
{% endblock %}
