{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <form class="form" method="post" action="/artists/{{ artist.id }}/update">
            <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control', value=artist.name, autofocus = true) }}
            </div>
            <div class="form-group">
                <label>City</label>
                <div class="form-group">
                    <select name="city_id" id="city_id" class="form-control select2">
                        {% for city in data.cities %}
                            <option value="{{ city.id }}" {{ 'selected' if city.id == artist.city_id }}>
                                {{ city.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                {{ form.phone(class_ = 'form-control', value=artist.phone, placeholder='xxx-xxx-xxxx') }}
            </div>
            <div class="form-group">
                <label for="genres">Genres</label>
                <small>Ctrl+Click to select multiple</small>
                <select name="genres" id="genres" class="form-control select2" multiple>
                    {% for genre in data.genres %}
                        <option value="{{ genre.id }}" {{ 'selected' if genre.id in data.selected_genres else '' }}>
                            {{ genre.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="facebook_link">Facebook Link</label>
                {{ form.facebook_link(class_ = 'form-control', value= artist.facebook_link, placeholder='http://') }}
            </div>

            <div class="form-group">
                <label for="image_link">Image Link</label>
                {{ form.image_link(class_ = 'form-control', value= artist.image_link, placeholder='http://') }}
            </div>

            <div class="form-group">
                <label for="website_link">Website Link</label>
                {{ form.website(class_ = 'form-control', value= artist.website, placeholder='http://') }}
            </div>

            <div class="form-group">
                <label for="is_seeking_venue">Looking for Venues</label>
                {{ form.is_seeking_venue(checked = artist.is_seeking_venue) }}
            </div>

            <div class="form-group">
                <label for="seeking_description">Seeking Description</label>
                {{ form.seeking_description(class_ = 'form-control', value= artist.seeking_description) }}
            </div>

            <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
        </form>
    </div>
{% endblock %}
